
body {
  background-color: rgb(204, 205, 255);
}

h1 {
  color: black;
  border-style: solid;
  border-color: purple;
}
.button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}