
body {
  background-color: rgb(204, 205, 255);
  font-family: serif;
  font-weight: bold;
}

h1 {
  color: Balck;
  border-style: solid;
  border-color: purple;
font-family: serif;
}

.button {
  background-color: rgb(204, 205, 255); 
  color: black;
  font-family: serif;
  font-weight: bold;
  border-color: purple;
  padding: 15px 20px;
  text-align: center;
  font-size: 25px;
  transition-duration: 0.5s;
}

.button:hover {
  background-color:purple; 
  color: white;
